body, #root, .light-theme {
    background-color: white !important;
}

.dark-theme, .dark body, .dark #root {
  background-color: #000000 !important;
  color: #eee;
  transition: background-color 0.5s, color 0.5s;
}

.login-container {
  background-color: #f9f9f9 !important;
  border-radius: 12px !important;
  /* margin-top: 5rem !important; */
  width: 400px !important;
  transition: background-color 0.5s, color 0.5s;
  margin-top: 5% !important;
  
}

.dark .login-container {
  background-color: #1a1a1a !important;
  color: #eee !important;
  transition: background-color 0.5s, color 0.5s !important;
}
.dark input {
    background-color: #000000 !important;
    color: #eee !important;
    transition: background-color 0.5s, color 0.5s !important;
}
input {
    background-color: #f9f9f9 !important;
    transition: background-color 0.5s, color 0.5s !important;
}
button{
    transition: background-color 0.5s, color 0.5s !important;
}

.dark button {
    background-color: #ff0000 !important;
    color: #fff !important;
    transition: background-color 0.5s, color 0.5s !important;
}

@media screen and (max-width: 768px) {
  .login-container {
    width: 390px !important;
  }
}

@media screen and (max-width: 480px) {
  .login-container {
    width: 370px !important;
  }
    
}

@media screen and (max-width: 400px) {
  .login-container {
    width: 350px !important;

  }
}

@media screen and (max-width: 350px) {
  .login-container {
    width: 300px !important;
    
  }
    
}

@media screen and (max-width: 320px) {
  .login-container {
    width: 280px !important;
    
  }
    
}

@media screen and (max-width: 280px) {
  .login-container {
    width: 260px !important;
    
  }
    
}

@media screen and (max-width: 260px) {
  .login-container {
    width: 240px !important;
    
  }
    
}

@media screen and (max-width: 240px) {
  .login-container {
    width: 220px !important;
    
  }
    
}


.login-background {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: background-color 0.5s, color 0.5s;
  backdrop-filter: blur(5px);
}

.dark .login-background {
  background-color: #121212;
  transition: background-color 0.5s, color 0.5s;
}