/* Light mode (default) */
body, #root, .light-theme {
  background-color: #fff;
  color: #222;
  transition: background-color 0.5s, color 0.5s;
}

/* Dark mode */
.dark-theme, .dark body, .dark #root {
  background-color: #000000 !important;
  color: #eee;
  transition: background-color 0.5s, color 0.5s;
}
.profile-content {

  display: flex;
  flex-direction: column;
  align-items: start;
  /* background-color: transparent; */
  top: 220px;   /* distance from top */
  left: 0px;   /* distance from left */
  overflow: hidden;
  position: absolute;
  padding-left: 100px;
  padding-right: 100px;
  /* background-color: white; */
}

.cover-photo {
  width: 100%;
  height: 300px;
  border-radius: 20%;
  overflow: hidden;
  border: 8px solid rgba(255, 255, 255, 0.170) !important;
  backdrop-filter: blur(18px) !important;
  -webkit-backdrop-filter: blur(18px) !important;
  transition: background-color 0.5s, border-color 0.5s !important;
}