.banner-description {
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* show only 3 lines */
    line-clamp: 3; /* standard property for compatibility */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    text-align: justify;
    color: white;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    
}

.banner-title {
    text-align: left !important;
    font-size: 2.5rem !important;
    font-weight: bold !important;
    margin-top: 250px !important;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);

    
}

@media (max-width: 768px) {
  .banner-title {
    text-align: center !important;
    color: white;
    font-size: 1rem !important;
    text-align: left !important;
    margin-top: 350px !important;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    font-weight: bold !important;
  }
  .banner-description {
    font-size: 0.7rem !important;
    text-align: left !important;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  }
}

.banner-overlay{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  transition: background-color 0.5s, color 0.5s;
}

.dark .banner-overlay {
  background-color: #000000;
  border-radius: 20px;
  transition: background-color 0.5s, color 0.5s;
}
