/* Custom properties for a more maintainable theme */
:root {
  --profile-photo-border-color: rgba(255, 255, 255, 0.17);
  --edit-cover-bg: rgba(255, 255, 255, 0.644);
  --edit-cover-text: black;
  --edit-cover-border: 1px solid black;
  --edit-profile-text: black;
  --edit-profile-border: 1px solid black;
}

.dark {
  --profile-photo-border-color: rgba(61, 61, 61, 0.17);
  --edit-cover-bg: rgba(0, 0, 0, 0.463);
  --edit-cover-text: white;
  --edit-cover-border: 1px solid white;
  --edit-profile-text: white;
  --edit-profile-border: 1px solid white;
}

/* --- Profile Container --- */
.profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* --- Profile Photo Container --- */
.profile-photo-container {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  overflow: hidden;
  border: 8px solid var(--profile-photo-border-color);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  transition: background-color 0.5s, border-color 0.5s;
}

.dark .profile-photo-container {
  background-color: rgba(18, 18, 18, 0.8);
  border: 8px solid var(--profile-photo-border-color);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  transition: background-color 0.5s, border-color 0.5s;
}

.profile-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- Profile Information --- */
.profile-info-container {
  text-align: left;
  margin-top: 70px;
}

/* --- Profile Buttons --- */
.profile-button-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
  left: 120%;

}

.edit-cover-button {
  background-color: var(--edit-cover-bg);
  color: var(--edit-cover-text);
  border: var(--edit-cover-border);
  transition: background-color 0.5s, color 0.5s, border 0.5s;


}

.dark .edit-cover-button {
  background-color: var(--edit-cover-bg) !important;
  color: var(--edit-cover-text);
  border: var(--edit-cover-border);
  transition: background-color 0.5s, color 0.5s, border 0.5s;

}

.edit-profile-button {
  background-color: transparent;
  color: var(--edit-profile-text);
  border: var(--edit-profile-border);
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.dark .edit-profile-button {
  background-color: rgba(32, 32, 32, 0.642) !important;
  color: var(--edit-profile-text);
  border: var(--edit-profile-border);
  transition: background-color 0.5s, color 0.5s, border 0.5s;

}